@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Maven+Pro|Montserrat|Patua+One|Prata&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  ;
}

#header .navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Prata', serif;
  font-family: 'Alfa Slab One', cursive;
  font-family: 'Patua One', cursive;
  font-family: 'Maven Pro', sans-serif;
}

#header .nav-link {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Prata', serif;
  font-family: 'Alfa Slab One', cursive;
  font-family: 'Patua One', cursive;
  font-family: 'Maven Pro', sans-serif;
}

#slider img {
  width: 100%;
  height: 800px;
}

#carousel .carousel-container {
  padding: 0;
}

#background {
  background-image:
    linear-gradient(to left, rgba(187, 187, 187, 0.52), rgba(63, 63, 63, 0.73)),
    url('../images/gril.jpg');
  min-height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#background1 {
  background-image:
    linear-gradient(to left, rgba(255, 255, 255, 0.52), rgba(102, 102, 102, 0.73)),
    url('../images/banner.jpg');
  min-height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-top: 1.5rem;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover .overlay {
  background-color: rgba(48, 152, 157, 0.4);
}

.hovereffect img {
  display: block;
  position: relative;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  transform: translateY(45px);
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover h2 {
  transform: translateY(5px);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: scale(0);
  transition: all 0.4s ease-in-out;
  padding: 62px 100px;
  margin-top: 6rem;
}

.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  transform: scale(1);
}

#staff img {
  width: 640px;
  height: 400px;
}

#resource .text {
  font-weight: 500;
  font-family: Raleway, sans-serif;
  color: #777;
  font-size: 17px;
  line-height: 2;
  letter-spacing: 0px;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: 1px solid #f1f1f1;
  margin-left: 4rem;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {
  background-color: rgb(145, 231, 95);
  color: white;
  transform: rotateY(180deg);

}

#border {
  width: 30px;
  height: 5px;
  background-color: rgb(145, 231, 95);
  margin-bottom: 1rem;
}

#elem {
  width: 50px;
  height: 50px;
}

/* image zoom hover */
#ministry .container {
  overflow: hidden;
}

#ministry .container img {
  transition: all 1s ease-in-out;
}

#ministry .container:hover img {
  transform: scale(1.1, 1.1);
  opacity: 0.9;
  cursor: pointer;
}

#button {
  border: 1px solid black;
  padding: 10px;
}

#button:hover {
  background: rgb(8, 8, 8);
  color: white;
}

#buttons {
  border: 2px solid lightyellow;
  padding: 10px;
  background-color: #abec14;
  width: 100px;
  margin-top: 1rem;
}

#history ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#history li {
  padding-left: 1em;
  text-indent: -.7em;
}

#history li::before {
  content: "\2022";
  color: #abec14;
  font-size: 32px;
  padding-right: 10px;
  line-height: 20px;
  padding-top: 5px;
  font-weight: bold;

}

/* #history ul  li::before {
  content: "\2022";
  color: #abec14;
  font-size: 20px;
  margin: 0 10px;
  font-weight: bold;
  width: 1em;

} */
#value ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#value li {
  padding-left: 1em;
  text-indent: -.7em;
}

#value li::before {
  content: "\2022";
  color: #abec14;
  font-size: 32px;
  padding-right: 10px;
  line-height: 20px;
  font-weight: bold;
}
/* ministries */
#lead ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#lead li {
  padding-left: 1em;
  text-indent: -.7em;
}

#lead li::before {
  content: "\2022";
  color: #abec14;
  font-size: 32px;
  padding-right: 10px;
  line-height: 20px;
  font-weight: bold;
}
#lead li:hover{
  transition: all 1s ease-in-out;
  cursor: pointer;
  color: black;
}
